/*
ID Classes, atributos e pseudo-classes  Elementos e pseudo-elementos
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1201px) and (max-width: 2400px) {
    .grid .col {
        width: 25%;
    }
}

